:root {
    /* bg betyder background*/
    --color-bg: #2B3841;
    --color-bg-dark: #1F2930;
    --color-header-bg: linear-gradient(#2B3841 0%,#485A66 100%);

    --color-gradient-green: linear-gradient( #60D577 0%, #49A15A 100%);
    --color-gradient-orange: linear-gradient( #D2722B 0%, #AC5F26 100%);
    --color-green:#359000;
    --color-orange:#AC5F26;

    --color-hero-overlay: linear-gradient( 90deg, #AC5F26 0%,#D2722B00 100%);;

    --box-shadow: 0 4px 4px #00000033;
    --drop-shadow: drop-shadow(0 4px 4px #00000033);
    --box-shadow-hover: 0 6px 8px #00000065;
    --drop-shadow-hover: drop-shadow(0 6px 8px #00000065);

    --color-text: #FEFDFD;
    --color-cta1-bg: #D9D9D9;
    --color-cta1-hover: #343434;
    --color-cta1-clicked: #FF6767;
    --color-bestilbutton: #359000;
    /*til menu siden*/
}