:root {
    --color-bg: #2B3841;
    /* bg betyder background*/
    --color-header-bg: linear-gradient(90deg, #485A66 0%, #2B3841 100%);
    --color-h1: linear-gradient(90deg, #60D577 0%, #49A15A 100%);
    --color-h2: #56AD67;
    --color-dinkurv-bg: linear-gradient(90deg, #60D577 0%, #49A15A 100%);
    --color-text: #FEFDFD;
    --color-menubutton-bg: linear-gradient(90deg, #D2722B 0%, #AC5F26 100%);
    --color-cta1-bg: #D9D9D9;
    --color-cta1-hover: #343434;
    --color-cta1-clicked: #FF6767;
    --color-bestilbutton: #359000;
    /*til menu siden*/
}