/* Menu I Header */
.knap {
  background-color: #ac5f26;
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 0.6em 1.2em;
  margin: 1em auto;
  text-align: center;
  display: block;
  cursor: pointer;
  transition: 0.3s;
  color: #fefdfd;
  text-decoration: none;
}
.knap:hover {
  background-color: #60d577;
  box-shadow: 0 0 15px #60d577, 0 0 40px #ac5f26;
  transform: scale(1.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* position: sticky; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.Logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  background: var(--color-menubutton-bg);
  color: var(--color-text);
  border-radius: 20px;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff9502; /* Burger color*/
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (width < 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 94px;
    right: 0; /* hvor den står på skærmen*/
    width: 40%; /* menu længde*/
    z-index: 20; /* rækkefølge af elementer som er oveni hinanden. fx menu skal vises først, også h1 som 2, og bilede som nr 3 */
  }

  nav.active .menu li {
    margin: 10px 10px;
  }

  nav.active .menu a {
    font-size: 15px; /*størrelsen for bogstaver i menuen*/
  }
}
