.hero-section {
  height: 100vh;
  margin-left: 0;
  background-image: url("../Billeder/img3.webp"); /* vælge hero image */
  background-size: cover; /* gør billedet fullscreen */
  background-position: center 20%; /* holder fokus i midten */
}
